// breakpoints
$breakpoint1: 1920px;
$breakpoint2: 1600px;
$breakpoint3: 1280px;
$breakpoint4: 768px;
$breakpoint5: 640px;
$breakpoint6: 480px;

// colors
$color1: rgba(34, 34, 34, 0.7);
$color2: rgb(0, 137, 102);
$color3: rgb(48, 48, 48);
$color4: rgb(66, 66, 66);
$color5: rgb(0, 188, 140);

// width
$width: calc(100% - 220px);

// main

.quiz {
  justify-content: flex-start;
  gap: 20px;
}

.quiz>section {
  border-radius: 5px;
}

.score {
  width: 100%;
  padding-top: 20px;

  &__inner {
    color: #fff;
    font-size: 22px;
    text-align: end;
  }
}

.category {

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    color: #fff;
    border-radius: 5px;
    overflow: hidden;

    &-item {
      flex-grow: 1;
      text-align: center;
      padding: 7px 0;
      border-bottom: 1px solid $color4;
      background: $color3;

      &.active {
        background: $color2;
      }
    }
  }
}

.question {
  display: flex;
  gap: 20px;
  padding: 10px 20px;
  background: $color3;

  &__picture {
    width: 200px;
    height: 155px;
    background: url('../../assets/images/angry_birds_blue.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
  }

  &__inner {
    padding-top: 20px;
    width: $width;

    &-name {
      color: #fff;
      font-weight: 600;
      font-size: 26px;
      margin-bottom: 10px;
    }
  }
}

hr {
  border: none;
  background-color: $color4;
  height: 1px;
  margin-bottom: 10px;
}

// Audio Player
.player {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.song {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.play {
  width: 45px;
  height: 45px;
  margin-right: 15px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s all ease;
  background-size: 100% 100%;
  background-image: url("@/assets/icons/play.svg");
}

.play:hover {
  opacity: 1;
}

.bars {
  padding-top: 9px;
  flex-grow: 1;
}

.song-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3px;
  font-size: 13px;
  padding-bottom: 2px;
  color: #fff;
}

.current-time {
  width: 30px;
}

input[type=range] {
  height: 3px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #b1b1b1;
  background-image: linear-gradient(to right, rgb(0, 188, 140) 0%, rgb(61, 133, 140) 100%, rgb(115, 115, 115) 100%, rgb(115, 115, 115) 100%);
  background-repeat: no-repeat;
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  box-shadow: none;
  border: none;
  background: transparent;
  -webkit-appearance: none;
  transition: all .3s ease;
}

input[type=range]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  background: #6e6e6e;
  border-radius: 50%;
  box-shadow: 0 0 2px 0px #000;
  -webkit-appearance: none;
  transition: all .3s ease;
}

.volume-bar {
  width: 150px;
}

.progress-bar {
  width: 100%;
  margin-bottom: 10px;
}

.volume {
  display: flex;
  gap: 25px;
  align-items: center;

  &-icon {
    background-image: url('@/assets/icons/volume-level.svg');
    background-repeat: no-repeat;
    background-size: 60% 60%;
    background-position: center right;
    width: 35px;
    height: 35px;
  }
}

.pause {
  background-image: url("@/assets/icons/pause.svg");
}


// answer

.answer {
  display: flex;
  gap: 20px;
  color: #fff;

  &__options {
    width: 50%;
    list-style: none;
    background: $color3;
    border: 1px solid $color4;
    border-radius: 5px;
    height: fit-content;

    &-item {
      display: flex;
      gap: 15px;
      align-items: center;
      padding: 15px;
      cursor: pointer;

      &:hover {
        background: $color4;
      }

      &:not(:last-child) {
        border-bottom: 1px solid $color4;
      }
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 20px;
    width: 50%;
    background: $color3;
    border: 1px solid $color4;
    border-radius: 5px;

    &-bird {
      flex-direction: column;
      gap: 15px;
    }
  }



  & .player {
    & .song {
      & .bars {
        padding: 0;
      }

      & .play {
        width: 35px;
        height: 35px;
      }
    }

    & .volume {
      gap: 20px;

      &-bar {
        width: 70px;
      }

      &-icon {
        width: 30px;
        height: 30px;
      }
    }
  }
}

.description__title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;

  & hr {
    margin-bottom: 10px;
  }
}

.information {
  display: flex;
  flex-direction: column;


  &__name {
    font-weight: 400;
    font-size: 18px;
    padding: 3px 5px;
  }

  &__species {
    font-size: 14px;
    padding: 3px 5px;
  }


  & .player {
    & .bars {
      flex-grow: 1;
    }
  }
}

.picture {
  width: 200px;
  height: 150px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.description__text {
  text-align: justify;
  font-size: 14px;
  line-height: 1.3;
  padding: 0 20px;
}

.marker {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: $color4;
}

.correct {
  background: $color5;
}

.incorrect {
  background: rgb(209, 1, 1);
}

// next
.next {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: $color3;
  color: #fff;
}

.clickable {
  background: $color2;
  cursor: pointer;
}

@media (max-width: $breakpoint4) {
  .container.quiz {
    gap: 5px;
  }

  .category__list {
    &-item {
      width: 110px;
      font-size: 14px;
    }
  }

  .question {
    padding-top: 0;
    padding-bottom: 0;
  }

  .answer {
    & .description__title {
      flex-direction: column;
      gap: 5px;
    }

    & .picture {
      width: 130px;
      height: 90px;
    }

    & .player {
      & .song .play {
        width: 35px;
        height: 35px;
      }

      & .volume {
        gap: 20px;
      }

      & .volume-icon {
        width: 30px;
        height: 30px;
      }
    }

    & .bars {
      padding: 0;
    }

    & .volume-bar {
      width: 70px;
    }

    & .description__text {
      padding: 0;
    }
  }

  footer .container {
    padding: 10px 20px;
  }
}

@media (max-width: $breakpoint5) {
  .quiz {
    gap: 10px;
  }

  .answer {
    gap: 5px;

    &__options {
      width: 40%;

      &-item {
        padding: 10px;
      }
    }

    &__description {
      width: 60%;
      padding: 5px;

      &-filler {
        text-align: center;
        padding-top: 30px;
      }

      &-bird {
        gap: 5px;

        & .information {
          & hr {
            margin-bottom: 7px;
          }
          &__name {
            padding: 0;
            padding-bottom: 3px;
            text-align: center;
            font-size: 16px;
          }

          &__species {
            padding: 0;
            padding-bottom: 3px;
            text-align: center;
            font-size: 14px;
          }
        }
      }
    }
  }

  .description__title {
    flex-direction: column;
  }

  .volume {
    gap: 15px;
  }
}

@media (max-width: $breakpoint6) {
  .score {
    padding-top: 10px;

    &__inner {
      font-size: 18px;
    }
  }

  .question {
    align-items: center;
    padding: 5px 15px;

    & .play {
      width: 35px;
      height: 35px;
    }

    &__picture {
      width: 130px;
      height: 90px;
    }

    &__inner {
      flex-grow: 1;

      &-name {
        font-size: 18px;
        font-weight: 400;
      }
    }

    .answer {
      &__options {
        &-item {
          padding: 5px;
        }
      }
    }

    .play {
      display: flex;
    }

    .bars {
      padding: 0;
    }

    .volume-icon {
      width: 30px;
      height: 30px;
    }

    .volume-bar {
      width: 70px;
    }
  }
}