// breakpoints
$breakpoint1: 1920px;
$breakpoint2: 1600px;
$breakpoint3: 1280px;
$breakpoint4: 768px;
$breakpoint5: 640px;
$breakpoint6: 480px;

// colors
$color1: rgba(34, 34, 34, 0.7);
$color2: rgb(0, 137, 102);
$color3: rgb(48, 48, 48);
$color4: rgb(49, 145, 121);

body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar {
  width: 3px;
}

body::-webkit-scrollbar-track {
  background: $color1;
}

body::-webkit-scrollbar-thumb {
  background-color: $color4;
  border-radius: 10px;
  border: 1px solid $color4;
}

.wrapper {
  position: relative;
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  z-index: 3;

  &__content {
    margin-bottom: 30px;
  }
}

.container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: auto;
  flex-grow: 1;
}

#myVideo {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 2000px;
}

.background {
  background: $color1;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.header {
  background: $color1;

  &__logo {
    background: url('@/assets/icons/logo.svg') no-repeat;
    background-position: left;
    width: 30%;
    height: 55px;
    background-size: contain;
  }

  & .navigation {
    width: 70%;
    display: flex;

    &__list {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 3px;

      &-item {
        flex-grow: 1;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: $color3;
        border-radius: 5px;
        padding: 0 3px;
        transition: .3s all ease;

        &:hover {
          background: $color4;
        }

        &.active {
          background: $color2;
        }

        & a {
          height: 100%;
          width: 100%;
          color: #fff;
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

.location {
  margin: auto;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 5px;
  height: 50px;
  width: 50px;
  background: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  opacity: 0.8;
  transform: scale(0.8);
  transition: all .3s ease;

  &:hover {
    opacity: 1;
    transform: scale(1);
  }
}

.footer {
  z-index: 4;
  width: 100%;
  background: $color1;

  & .container {
    height: 100%;
    padding: 10px 20px;
  }

  &__logo {
    width: 80px;
    display: flex;
    justify-content: start;

    & #rsschool path,
    #rsschool:hover .st3 path {
      fill: #fff;
      transition: all .3s ease;
    }

    & #rsschool .st3 path {
      fill: #000;
    }

    & #rsschool:hover path {
      fill: $color2;
    }
  }

  &__year {
    color: #fff;
    font-size: 16px;
    display: flex;
    align-items: center;
  }

  &__github {
    width: 80px;
    display: flex;
    justify-content: end;
  }

  & #github path {
    transition: all .3s ease;
  }

  & #github:hover path {
    fill: $color2;
  }
}



@media (max-width: $breakpoint5) {
  .location {
    height: 30px;
    width: 30px;
  }

  .header {
    font-size: 14px;

    &__logo {
      width: 25%;
      height: 30px;
    }
  }

  .footer {

    &__logo,
    &__github {
      width: 50px;
    }

    &__year {
      font-size: 14px;
    }
  }
}